<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exibir Imagem</title>
</head>
<body>

    <div class="input-container tamanho">
        <br>
        <label>Foto 1 do Produto</label>
        <img id="previewImage" src="https://abrai.me/ImPh1" alt="Imagem Preview" style=" max-width: 300px; max-height: 300px; margin: auto;">
        <br>
        
            
        </label>
        <label class="borda-arredondada input" for="foto"
            style="color: rgb(2, 2, 2);">Selecionar foto 1
            <img src="https://cdn3.iconfinder.com/data/icons/glypho-generic-icons/64/action-upload-alt-512.png"
                style="width: 20px" />
        </label>
        <input required type="file" accept="image/*" name="foto" id="foto" style="opacity: 0;"  >
    </div>
<!--foto 2-->
    <div class="input-container tamanho">
        <br>
        <label>Foto 2 do Produto  </label>
        <img id="previewImage2" src="https://abrai.me/ImPh1" style=" max-width: 300px; max-height: 300px; margin: auto;">
        <br>
        
            
        </label>
        <label class="borda-arredondada input" for="foto"
            style="color: rgb(2, 2, 2);">Selecionar foto 2 *opcional
            <img src="https://cdn3.iconfinder.com/data/icons/glypho-generic-icons/64/action-upload-alt-512.png"
                style="width: 20px" />
        </label>
        <input type="file" accept="image/*" name="foto2" id="foto2" style="opacity: 0;" >
    </div>

    
    <script>
     function input1() {
            var inputFile = document.getElementById('foto');
            var previewImage = document.getElementById('previewImage');

            var file = inputFile.files[0];

            console.log('input 1 executado');
            if (file) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    previewImage.src = e.target.result;
                    previewImage.style.display = 'block';
                };

                reader.readAsDataURL(file);
            }
        };

       

        function input2() {
            var inputFile2 = document.getElementById('foto2');
            var previewImage2 = document.getElementById('previewImage2');
            var file = inputFile2.files[0];

            console.log('input 2 executado');

            if (file) {
                console.log('if executado');
                var reader = new FileReader();

                reader.onload = function (e) {
                    previewImage2.src = e.target.result;
                    previewImage2.style.display = 'block';
                    console.log('render executado');
                };

                reader.readAsDataURL(file);
                console.log('data executado');
            }
        };

        document.getElementById('foto').addEventListener('change', input1);
        document.getElementById('foto2').addEventListener('change', input2);
    </script>
</body>
</html>
