@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;0,800;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;700&family=Raleway:ital,wght@0,200;0,400;0,600;0,800;1,200&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --branco: #ffffff;
    --braco_escuro: rgb(239, 239, 239);
    --cinza: #656566;
    --verde: #76b900;
    --verde_claro: #35f605;
    --preto_claro: #181819;
    --preto: #000000;
    --font_Raleway: 'Raleaway',sans-serif;
    --font-nunito: 'Nunito', sans-serif;
}

body , html {
    width: 100vw;
    background-color: #ffffff;
    scroll-behavior: smooth;
    font-size: 1em;
    font-family: var(--font_Raleway);
    color: white;
}

header {
    width: 100vw;
    height: 900px;
    background-color: var(--preto); 
    background-image: url(/public/imagens/hydr4/fundo_transparente_40.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#titulo3 {
    font-size: 3em;
    text-decoration: none;
    color: var(--branco);
    margin-left: 1vw;
}
#rede_icone {
    width: 40px;
}
#link_insta {
    margin-top: 14px;
    margin-left: 80vw;
    display: inline-block;
    width: 40px;
}

#titulo {
    
    width: 40vw;
    margin-top: 70px;
    margin-left: 7vw;
    font-size: 2em;
    padding: 15px 15px 15px 15px;
    padding-left: 15px;  
    padding-right: 15px;
    border-radius: 20px;
    background-color: #0000007e;

}
#titulo:hover {
    background-color: var(--preto_claro);
}

#nav1 {
    width: 100vw;
    height: 70px;
    background-color: var(--preto_claro);
    color: black;
    
}

#nav1 > p {
    
    font-size: 3em;
    
}

#img1 {
    width: 500px;
    margin-left: 50vw;
    margin-right: 10vw;
    margin-top: -450px;
    display: block;
    
    
}
.contato {
    display: inline-block;
    background-color:var(--verde);
    font-size: 1.3em;
    height: 30px;
    width: 140px;
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 3px;
    margin-left: 100px;
    margin-top: 30px;
    color: var(--preto); 
    
}
.contato:hover {
    background-color: var(--verde_claro);
}
#contato_1{
    margin-top: 60px;
    margin-left: 18.5vw;
    width: 200px;
    text-align: center;
    padding-right: 7px;
}

.link_whats {
    text-decoration: none;
}
#whatsapp {
    
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 1px 1px 2px #888;
    z-index:1000;
    
}
#whatsapp:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.232);
}
#contato_2 {
    width: 170px;
    margin-top: 100px;
    margin-left: 43vw;
}

main{
    background-color: black;
    width: 100vw;
}

#oq_faz {
    width: 100vw;
    height: 800px;
    background-color: var(--preto_claro);
    text-align: left;
    
}
#oq_faz > p {
    
    margin-left: 30px;
    display: block;
    border-collapse: separate;
    
}
.sub_titulos {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
    margin-top: 97px;
    padding-left: 10px;
    border-radius: 20px;
    width: 170px;
    text-align: center;
}
#sub_titulo_1 {
    display: block;
    width: 25vw;
    margin-bottom: -77px ;
}
#sub_titulo_2 {
    width: 25vw;
    margin-top: -300px;
    float: right;
    margin-right: 37vw;

}
#sub_titulo_3 {
    width: 25vw;
    margin-top: -303px;
    margin-right: 8vw;
    float: right;

    
    
    
}
.linha_p2 {
    display: block;
    height: 350px;
    width: 30vw;
    margin: auto;
    margin-top: -800px;
    border-left: 2px solid var(--verde);
    border-right: 2px solid var(--verde);
}
#linha_p2_1 {
    margin-top: 100px;
    
}

.sub_titulos:hover  {
    background-color: #35f605;
}

.texto2 {
    font-size: 1.5em;
    padding-left: 50px;
    margin-bottom: -50px;
    width: 20vw;
    text-align: justify;
}
#texto2_1 {
    display: inline-block;
    margin-top: -340px;
   
}
#texto2_2 {
    float: right;
    margin-top: -244px;
    margin-right: 40vw;
    
}
#texto2_3 {
    float: right;
    margin-right: 10vw;
    margin-top: -245px;
    
}  

#oq_faz > hr {
    display: none;
}

#func {
    width: 100vw;
    height: 700px;
    background-color: var(--preto);

}

.titulo1 {
    font-size: 2.2em;
    margin-left: 20px;
    margin-bottom: 73px;
    
}
#conteudo_func {
    background-color: var(--preto);
    height: 80vh;
    width: 80vw;
    margin-left: 50px;
    margin-top: -30px;
}
#linha {
    height: 460px;
    width: 74vw;
    
    border-top: 4px solid var(--verde);
    margin-top: 120px;
    margin-left:12vw;
    border-left: none;
}
.titulo_func {
    height: 50px;
    margin-top: -160px;
} 
#titulo_func_1 {
    margin-top: -50px;
    
}
#titulo_func_2 {
    margin-top: -50px;
}
#titulo_func_3 {
    margin-top: -50px;
}
#titulo_func_4 {
    margin-top: -50px;
}
#titulo_func_5 {
    margin-top: -600px;
}
#tampao {

    width: 10px;
    height: 20px;
} 

.explicacao {
    font-size: 1.2em;
    height: 150px;
    width: 15vw;
    margin-left: 6vw;
    margin-bottom: 60px;
    border-radius: 10px;
    
    
}

.explicacao > p {
    padding-top: 6px;
    margin-left: 7px;
    padding-right: 7px;
    
}
#explicacao_1 {
    margin-top: 80px;
    margin-bottom: 60px;
}
#explicacao_2 {
    margin-left: 24vw;
    margin-top: -210px;
}
#explicacao_3 {
    margin-left: 42vw;
    margin-top: -210px;
}
#explicacao_4 {
    margin-left: 60vw;
    margin-top: -210px;
}
#explicacao_5 {
    margin-left: 78vw;
    margin-top: -210px;
}

.circulo {
    height: 50px;
    width: 50px;
    background-color: var(--cinza);
    border-radius: 50%;
    margin-left: 27px;
}
#circulo_1 {
    margin-left: 11vw;
}
#circulo_2 {
    margin-left: 28vw ;
}
#circulo_3 {
    margin-left: 47vw ;
}
#circulo_4 {
    margin-left: 65vw ;
}
#circulo_5 {
    margin-left: 83vw ;
}
.circulo:hover {
    background-color: var(--branco);
}
.circulo > p {
    font-size: 2em;
    text-align: center;
    padding-top: 7px;
}
.text_titulo {
    font-size: 1.5em;
    width: 150px;
    margin-top: -30px;
    margin-left: -3vw;
    margin-top: 20px;
    text-align: center;
}



.text_titulo:hover {
    color: greenyellow;
}

#portifolio {
    width: 100vw;
    height: 800px;
    background-color: var(--preto_claro);
}
#titulo_port {
    display: block;
    font-size: 2.2em;
    margin-left: 10vw;
    margin-top: 20px;
    margin-bottom: -30px;
}
.port_div {
    
    background-color: var(--cinza);
    width: 40vw;
    height: 410px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    border-radius: 10px;
}
#port_div1 {
    margin-left: 6vw;
}   
#port_div2 {
   margin-top: -451px; 
   margin-right: 6vw;

}

.port_div > hr {
    background-color: #000000;
    border: 0.5px solid black;
}
.nome_port {
    font-size: 2em;
    margin-left: 10px;
}

.breve {
    text-align: center;
    margin-top: 150px;
}
.portifolio-institucional {
    background-image: url(/public/imagens/hydr4/print-TREVO.png);
    width: 40vw;
    height: 340px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer {
    width: 100%;
    height: 100px;
    background-color: var(--braco_escuro);
    color: black;
}
footer > hr {
    background-color: #000000;
    border: 0.5px solid black;
    width: 100px;
    margin: auto;
    margin-bottom: -50px;
}
footer > a {
    text-decoration: none;

}

#logo {
    color: black;
    font-size: 2em;  
    margin-top: 1px;
    
}
#seta_div {
    display: inline-block;
    padding-left: 20px;
}

#seta {
    margin-top: -40px;
    width: 30px;
    float: left;
    margin-left: 10vw;
    background-color: #76b900;
    border-radius: 50%;
}

#seta:hover {
    background-color: #05f621;
}
#copr {
    margin-top: 3px;
    text-align: center;   
}

.titulos1 {
    font-size: 2.2em;
    margin-bottom: 50px;
    
}

