/*
.cart-container {
    position: fixed;
    bottom: 0;
    
    min-width: 400px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    padding: 10px;
    z-index: 1;
    border-radius: 20px;
    padding-top: 2px;
    right: 0;
    
  }
  .cart-items { 
    max-height: 60vh;
    overflow-y: auto;
  }
  .cart-actions button {
    margin: 0 5px;
  }
  
  .expand-cart-btn {
   
    padding: 3px;
    margin-top: 10px;
    background-color: #f1eded;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(83, 82, 82);
    border-radius: 10px 3px 10px 3px;
    cursor: pointer;
    margin-right: 0px;
  }
  .limpa_carrinho {
    padding: 3px;
    margin-top: 10px;
    margin-left: 0px;
    background-color: #f1eded;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(83, 82, 82);
    border-radius: 10px 3px 10px 3px;
    cursor: pointer;
  }
  .btn-total {
    padding: 3px;
    margin-top: 10px;
    background-color: #f1eded;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(83, 82, 82);
    border-radius: 50px ;
    cursor: pointer;
    float: right;
  }
  .item-hr {
    border: none;
    border-top:  1px solid rgb(234, 234, 234) ;
    margin-top: 5px;
  }
  .submit-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
  }

  .min-btn {
    background-color: #fffcbd;
    padding: 3px;
    width: 15px;
    margin-top: 5px;
    color: rgb(0, 0, 0);
    border-radius: 50px 0px 0px 50px ;
    cursor: pointer;
    border: none;
    margin-left: 2px;

  }

  .add-btn {
    background-color: #fffcbd;
    padding: 3px;
    width: 15px;
    color: rgb(0, 0, 0);
    border-radius: 0px 50px 50px 0px ;
    cursor: pointer;
    border: 0.1px solid rgb(245, 244, 244);
    text-align: center;
    
  }
  
  .delete-btn {
    background-color: rgb(255, 196, 196);
    padding: 3px;
    margin-top: 0px;
    color: rgb(0, 0, 0);
    border-radius: 50px ;
    cursor: pointer;
    border: none;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 8px;
    font-size: 12px;
  }
  .cart-item {

  
  }
  .itemName {}
  .itemprice { }
  .itemQuantity {
    border-top: 0.1px solid #e3e3e3; /* Cor e espessura da borda superior 
    border-bottom: 0.1px solid #e3e3e3;
    padding-right: 2px;
  }

  .submit-btn:hover {
    background-color: #54d658;
    transition: all .2s;
  }

  #icon_seta{
    width: 12px;
  }
 .cart-items{
  font-size: 12px;
 }
 .cart-actions button {
  margin: 0px;
 }
 .acoes{
  background-color: rgb(231, 230, 230);
  z-index: 10;
  margin: -10px;
  margin-top: 6px;
  margin-right: -10px;
  padding: 10px 10px 10px 10px;
  border-radius: 15px 15px 0px 0px;
 }
 @media (max-width: 514px) { 

  .cart-container {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    padding: 10px;
    z-index: 1;
    border-radius: 20px;
    padding-top: 2px;
    right: 0;
    
  }

 }
 @media (max-height: 514px) {
  .cart-container {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    padding: 10px;
    z-index: 1;
    border-radius: 20px;
    padding-top: 2px;
    right: 0;
    
  }
}     */



/*---------------------dark-mode----------------------*/

/*.dark-mode { */
  .cart-container {
    position: fixed;
    bottom: 0;
    min-width: 400px;
    background-color: #F9F9F9;
    border-top: 1px solid #e9e8e8;
    padding: 10px;
    z-index: 1;
    border-radius: 20px;
    padding-top: 2px;
    right: 0;
    
  }
  .cart-items { 
    max-height: 60vh;
    overflow-y: auto;
  }
  .cart-actions button {
    margin: 0 5px;
  }
  
  .expand-cart-btn {
   
    padding: 3px;
    margin-top: 10px;
    background-color: #f1eded;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(83, 82, 82);
    border-radius: 10px 3px 10px 3px;
    cursor: pointer;
    margin-right: 0px;
  }
  .limpa_carrinho {
    padding: 3px;
    margin-top: 10px;
    margin-left: 0px;
    background-color: #f1eded;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(83, 82, 82);
    border-radius: 10px 3px 10px 3px;
    cursor: pointer;
  }
  .btn-total {
    padding: 3px;
    margin-top: 10px;
    background-color: #f1eded;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(83, 82, 82);
    border-radius: 50px ;
    cursor: pointer;
    float: right;
  }
  .item-hr {
    border: none;
    border-top:  1px solid rgb(235, 235, 235) ;
    margin-top: 5px;
  }
  .submit-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
  }

  .min-btn {
    background-color: #fffcbd;
    padding: 3px;
    width: 15px;
    margin-top: 5px;
    color: rgb(0, 0, 0);
    border-radius: 50px 0px 0px 50px ;
    cursor: pointer;
    border: none;
    margin-left: 2px;

  }

  .add-btn {
    background-color: #fffcbd;
    padding: 3px;
    width: 15px;
    color: rgb(0, 0, 0);
    border-radius: 0px 50px 50px 0px ;
    cursor: pointer;
    border: 0.1px solid rgb(245, 244, 244);
    text-align: center;
    
  }
  
  .delete-btn {
    background-color: rgb(255, 196, 196);
    padding: 3px;
    margin-top: 0px;
    color: rgb(0, 0, 0);
    border-radius: 50px ;
    cursor: pointer;
    border: none;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 8px;
    font-size: 12px;
  }
  .cart-item {

  
  }
  .itemName {}
  .itemprice { }
  .itemQuantity {
    border-top: 0.1px solid #e3e3e3; /* Cor e espessura da borda superior */
    border-bottom: 0.1px solid #e3e3e3;
    padding-right: 2px;
  }

  .submit-btn:hover {
    background-color: #54d658;
    transition: all .2s;
  }

  #icon_seta{
    width: 12px;
  }
 .cart-items{
  font-size: 12px;
 }
 .cart-actions button {
  margin: 0px;
 }
 .acoes{
  background-color: #E7E6E6;
  z-index: 10;
  margin: -10px;
  margin-top: 6px;
  margin-right: -10px;
  padding: 10px 10px 10px 10px;
  border-radius: 15px 15px 0px 0px;
 }
 @media (max-width: 514px) { 

  .cart-container {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    padding: 10px;
    z-index: 1;
    border-radius: 20px;
    padding-top: 2px;
    right: 0;
    
  }

 }
 @media (max-height: 514px) {
  .cart-container {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    padding: 10px;
    z-index: 1;
    border-radius: 20px;
    padding-top: 2px;
    right: 0;
    
  }
}
/*} */

