:root {
  --color-black: #000;
  --color-whiter: #fff;
  --color-green: #7CFC00;
  --color-darkgreen: #01a116;
  --color-orange: #FF8C00;
  --color-gray: #2c2c2c;

}/* Estilize o container com a classe "container" */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilize a imagem do logo */
#titulo {
  margin-left: 50px;
}
.logo img {
  align-items: center;
  width: 160px;                  
  margin-right: 60px;
}

/* Estilize a tabela */
table {
  width: 100%;
  border-collapse: separate;
  margin-top: 20px;
  border-radius: 10px;
  border-spacing: 5px;
  background-color: #d6d5d5;
}
td{
  background-color: #ececec;
}

/* Estilize os cabeçalhos da tabela */
th {
  background-color: #000;
  color: #fff;
  padding: 10px;
}

/* Estilize as linhas da tabela */
tr:nth-child(even) {
  background-color: #e6e3e3;
}

/* Estilize as células da tabela (td) */
td {
  padding: 10px;
  text-align: center;
}

/* Estilize os botões com a classe "btn" */
.btn {
  background-color: #ec0d05;
  color: #f3efef;
  padding: 5px 10px; 
  border: none;
  cursor: pointer;
}

.btn.editar {
  background-color: #d9ff00;
  color: #0c0c0c;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.btn.form {
  background-color: #09ff00;
  color: #0c0c0c;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

/* Estilize os botões ao passar o mouse por cima */
.btn:hover {
  background-color: #940f0a;
}
#btn_adicionar {
  display: block;
  float: left;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #68ce02;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-left: 30px;
}
#btn_adicionar:hover {
  background-color: #66ad1e;
  
}

.btn.editar:hover {
  background-color: #99aa04;
}

.btn.form:hover {
  background-color: #03f103;
}

a {
  text-decoration: none;
}
#tabela {
 width: auto;
 margin: auto;
}

@media(max-width: 730px) {
.esconder{
  display: none;
}

}