:root {
  --color-black: #000;
  --color-whiter: #fff;
  --color-green: #7CFC00;
  --color-darkgreen: #01a116;
  --color-orange: #FF8C00;
  --color-gray: #2c2c2c;
}

body {
  font-family: "Lato", sans-serif;
}

body > main {
  padding: 0 30px 30px;
}
body > main .page-title {
  font-size: 40px;
  padding: 50px 0;
  text-align: center;
  color: var(--color-whiter);
}
body > main .content {
  display: flex;
}
body > main .content section {
  flex: 1;
}
body > main .content aside {
  min-width: 250px;
}
.msg{
  color: var(--color-whiter);
}
button {
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table thead tr {
  border-bottom: 3px solid var(--color-green);
}
table thead tr th {
  text-align: left;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: var(--color-green);
}
table tbody tr {
  border-bottom: 3px solid var(--color-green);
}
table tbody tr:last-child {
  border: 0;
}
table tbody tr td {
  padding: 30px 0;
}

.product {
  display: flex;
  align-items: center;
}
.product img {
  border-radius: 6px;
}
.product .info {
  margin-left: 20px;
}
.product .info .name {
  font-size: 20px;
  margin-bottom: 10px;
}
.product {
  color: var(--color-whiter);
}

.qty {
  background: var(--color-whiter);
  display: inline-flex;
  padding: 0 0;
  justify-content: space-around;
  align-items: center;
  min-width: 60px;
  border-radius: 20px;
  overflow: hidden;
  height: 30px;
}
.qty span {
  color: var(--color-black);
  margin: 0 10px;
}
.qty button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  padding: 0 10px;
  font-size: 20px;
  height: 100%;
}
.qty button:hover {
  background: var(--color-whiter);
}
#itens{
  color: var(--color-black);
}

.remove {
  background: var(--color-whiter);
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.remove:hover {
  background: var(--color-whiter);
}

aside {
  margin-left: 30px;
}
aside .box {
  margin-bottom: 15px;
  border: 1px solid var(--color-gray);
  background: var(--color-gray);
  color: var(--color-whiter);
}
aside .box header {
  padding: 15px 20px;
  font-size: 18px;
  border-bottom: 1px solid var(--color-gray);
}
aside .box .info {
  padding: 20px;
  font-size: 16px;
}
aside .box .info > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color:var(--color-whiter);
}
aside .box .info > div:last-child {
  margin: 0;
}
aside .box .info button {
  color: var(--color-green);
  background: transparent;
  border: 0;
  display: flex;
  align-items: center;
  font-size: 16px;
}
aside .box footer {
  padding: 15px 20px;
  background: var(--color-gray);
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
aside > button {
  border: 0;
  padding: 15px 0;
  color: var(--color-whiter);
  background: var(--color-green);
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
}
aside > button:hover {
  background: var(--color-green);
}
#foto_produto {
  width: 8vw;
}
#preco1 {
   color: var(--color-whiter);
  padding-right: 20px;
  padding-left: 10px;
}
#preco2 {
  color: var(--color-whiter);
  padding-right: 29px;
  padding-left: 40px;
}

@media (max-width: 800px) {
  .content {
    flex-direction: column;
    width: 10%;
    display: block;
  }
  #msg {
    display: block;
    width: 70vw;
    margin-bottom: 50px;
  }
  .qty {
    width: 70%;
    padding: 5px;
  }
  .product {
    width: 20%;
    font-size: small;
  }
  th {
    padding-bottom: 40px;
    padding: 4px;
  }
  .name {
    display: none;
  }
  #foto_produto {
    width: 12vw;
  }
  #preco1 {
   
    padding-right: 20px;
    padding-left: 10px;
  }
  #preco2 {
   
    padding-right: 29px;
    padding-left: 1px;
  }
}
@media screen and (orientation: landscape) {
  .content {
    flex-direction: row;
  }
}